
@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>
<ul>
    @foreach(var item in Model){
        <li><a  asp-controller="Files"
                asp-action="Display"
                asp-route-id="@item.Id">File: @item</a></li>

             <!-- <li><a  asp-controller="Process"
                asp-action="Display"
                asp-route-id="@item.Id">@item.ProcessName</a></li> -->
    }
</ul>

